* {
    font-family: 'Fredoka One', cursive;
}

body {
    position: relative;
    width: 1152px;
    height: 700px;
    background: rgba(0, 0, 0, 0.93);
}

.header {
    position: fixed;
}

.header ul li {
    text-decoration: none;
    position: absolute;
    display: flex;
}

#logo {
    position: absolute;
    left: 47px;
    top: 13px;
    width: 100px;
    height: 100px;
}

#casa {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 40px;
    top: 157px;
}

#perfil {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 40px;
    top: 276px;
}

#aviao {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 40px;
    top: 388px;
}

hr {
    position: absolute;
    width: 768px;
    height: 0px;
    left: -180px;
    top: 350px;
    border: 1px solid rgba(28, 28, 28, 0.86);
    transform: rotate(90deg);
}

#sair {
    text-decoration: none;
    display: flex;
    position: absolute;
    width: 43px;
    height: 18px;
    left: 80px;
    top: 613px;
    font-family: Fredoka One;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

#barra {
    position: absolute;
    width: 5px;
    height: 56px;
    left: 198px;
    top: 395px;
    background: #8A2BE2;
    border-radius: 20px;
}

.chamada {
    position: absolute;
    width: 846px;
    height: 137px;
    left: 313px;
    top: 80px;
    background: rgba(138, 43, 226, 0.46);
    border-radius: 20px;
}

#planeta {
    position: absolute;
    top: -63px;
    left: 650px;
    height: 200px;
}

#text {
    font-size: 25px;
    text-align: justify;
    width: 548px;
    height: 91px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    position: absolute;
    top: 0;
    left: 10px;
}

.container{
    position: absolute;
    left: 325px;
    top: 300px;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;

    
}


#programacao{
    position: absolute;
    left: 80px;
}

#textprog{
    text-decoration: none;
    color: #FFFFFF;
    position: absolute;
    left: 97px;
    top: 210px;
}

#video{
    position: absolute;
    top: 90px;
    left: 350px;
}

#textvideo{
    top: 210px;
    left: 330px;
    position: absolute;
    color: #FFFFFF;
    width: 200px;
}

#musica{
    position: absolute;
    left: 625px;
    
}

#textmus{
    color: #FFFFFF;
    position: absolute;
    left: 620px;
    top: 210px;
    width: 200px;
}