body {
    position: relative;
    width: 1152px;
    height: 651px;
    background: linear-gradient(180deg, #8A2BE2, #020202 87.63%);
    font-family: 'Fredoka One', cursive;
}

#voltar {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 189px;
    top: 32px;
}

.container {
    position: absolute;
    width: 546px;
    height: 497px;
    left:380px;
    top: 90px;
    background: linear-gradient(180deg, #000000 0%, #8A2BE2 90.62%);
    border-radius: 20px;
}

#atom {
    position: absolute;
    width: 82px;
    height: 36px;
    left: 805px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
}

#cadastro {
    position: absolute;
    width: 450px;
    height: 450px;
    left: 170px;
    top: 120px;
}

#linha {
    position: absolute;
    width: 85px;
    height: 7px;
    left: 79px;
    top: 40px;
    background: #FFFFFF;
}

h2 {
    position: absolute;
    width: 266px;
    height: 24px;
    left: 180px;
    top: 15px;
    font-family: Fredoka One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.avatar_item span {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 250px;
    top: 55px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 60px;
    color: #FFFFFF;
}
.img{
   
position: absolute;
width: 100px;
height: 100px;
left: 233px;
top: 69px;
border-radius: 50px;
background: #1C1C1C;
}

#img{
        
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 256px;
}

#x{
    position: absolute;
    left: 300px;
    top: 60px;
    bottom: 100%;
    width: 26px;
    height: 24px;
    font-size: 25px;
    color: #FF0000;
    font-family: 'Fredoka One', cursive;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

#upload{
    position: absolute;
    width: 100px;
    height: 23px;
    left: 233px;
    top: 170px;
    color: #FFFFFF;
    background: rgba(157, 210, 238, 0.2);
    border-radius: 15px;
    cursor: pointer;
}


.inputs{
    position: absolute;
    top: 125px;
   left: -6%;
}

#nome{
    position: absolute;
    width: 412px;
    height: 24px;
    left:89px;
    top: 100px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
}

#nomeinp{
    position: absolute;
    width: 139px;
    height: 42px;
    left: 79px;
    top: 140px;
    background: #1C1C1C;
    border-radius: 20px;
    font-family: Fredoka One;
    color: #FFFFFF;
}


#telefone {
    position: absolute;
    width: 412px;
    height: 24px;
    left:275px;
    top: 100px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
}

#telinp {
    position: absolute;
    width: 165px;
    height: 42px;
    left: 235px;
    top: 140px;
    background: #1C1C1C;
    border-radius: 20px;
    font-family: Fredoka One;
    color: #FFFFFF;
}

#idade{
    position: absolute;
    width: 412px;
    height: 24px;
    left:465px;
    top: 100px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
}

#idadeinp{
    position: absolute;
    width: 83px;
    height: 42px;
    left: 445px;
    top: 140px;
    background: #1C1C1C;
    border-radius: 20px;
    font-family: Fredoka One;
    color: #FFFFFF;
    
}
#cidade{
    position: absolute;
    width: 412px;
    height: 24px;
    left: 79px;
    top: 220px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
}
#cidadeinp{
    position: absolute;
width: 139px;
height: 42px;
left: 75px;
top: 260px;
font-family: Fredoka One;
color: #FFFFFF;
background: #1C1C1C;
border-radius: 20px;
}

#bairro{
    position: absolute;
    width: 412px;
    height: 24px;
    left: 265px;
    top: 220px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
}

#bairroinp{
    position: absolute;
    width: 165px;
    height: 42px;
    left: 235px;
    top: 260px;
    font-family: Fredoka One;
    color: #FFFFFF;
    background: #1C1C1C;
    border-radius: 20px;
}

#uf{
    position: absolute;
    width: 412px;
    height: 24px;
    left: 465px;
    top: 220px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
}

#ufinp{
    position: absolute;
    width: 83px;
    height: 42px;
    left: 445px;
    top: 260px;
    font-family: Fredoka One;
    color: #FFFFFF;
    background: #1C1C1C;
    border-radius: 20px;
}

#login{
    
position: absolute;
width: 372px;
height: 17px;
left:370px;
top: 40px;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
}

#entre{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #f5f5f5;
    text-decoration: none;
}



#esqueceu{
    position: absolute;
width: 372px;
height: 19px;
left: 50px;
top: 470px;

font-family: Fredoka One;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;
}


#cadastrando{
    position: absolute;
width: 203px;
height: 70px;
left: 235px;
top: 449px;
color: #FFFFFF;
font-family: Fredoka One;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
background: #1C1C1C;
border-radius: 30px;
cursor: pointer;
}